@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background-color: #1f2937;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 66%;
    max-width: 1500px;
    margin: 0 auto;
}

.header {
    padding: 5px 0;
}

.hero-logo {
    font-size: 24px;
    color: #f9faf8;
}

nav {
    display: flex;
    align-content: center;
    margin-left: auto;
    gap: 25px;
}

nav a {
    text-decoration: none;
    align-content: center;
}

img {
    flex: 1 1 100%;
    width: 100%;
    min-width: 1px;
    height: auto;
}

.hero-container img {
    max-width: 800px;
}

.hero-text-container {
    flex-shrink: 2;
    min-width: 350px;
}

.hero-container {
    padding: 125px 0;
    display: flex;
    gap: 50px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 5px 35px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
}

.info-container {
    display: flex;
    flex-direction: column;
    padding: 75px 0;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.info-card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-card {
    max-width: 150px;
}

.info-card img {
    max-width: 100%;
    border-radius: 10%;
    border: 2px solid #3882f6;
}

.info-card p {
    font-weight: 300;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 150px 0;
}

blockquote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.quote-container p {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
    margin-right: 50px;
}